#index08{
  border: 1px solid;
}
#add08{
border: 1px solid;
}
#detail{
  border: 1px solid;
}
#add{
  border: 1px solid;
}
#add:hover #add08{
  display: none;
}
#detail:hover #index08{
  display: none;
}